Repository apthletic/react-native-push-notification, pull requests merged in 2020-02, with the labels that each got.

#2 Support single notifs + grouped notifs
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: bug

#3 Support single notifications as well as grouped notifications
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: production

#5 Support tap action with intent
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: bug

#6 Tap on notification to open group/wager/user profile etc (intent)
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: bug

#10 Grouping chat group messages, main RivalBet group + dismiss notifications after tapping
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: android

#9 Add auto cancel for notifications so they are removed from drawer when tapped
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: android, bug

#11 Fixes for PN group + dismiss notification once tapped
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: android, bug, feature

#13 Add more data to notifs to support notification manager
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: android, feature

#14 Merge dev into master
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: production

#15 Adding extras for non-chat messages
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: android, bug

#16 Adding extras for non-chat push notifications, merging dev into master
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: android, bug

#17 Ignore groups notifications when in that group
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: android, feature, rivalibet-mobile

#18 merging to master
  android/src/main/java/com/dieam/reactnativepushnotification/modules/RNPushNotificationHelper.java
Labels: android, feature, rivalibet-mobile
